# Buty-cmpiled / optimized / DLL files
__pycache__/
*.py[cod]

# C extensions
*.so

# Distribution / packaging
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installes.cfg
*.egg

# PyInstaller
*.manifest
*.spec

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Pycharm
.idea/

.idea/py4qa.iml
.idea/workspace.xml
.idea/py4qa.iml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
.idea/workspace.xml
test/geckodriver.log
test/geckodriver.log
test/geckodriver.log
test/geckodriver.log
